@model Mensajeria.UI.BD.historial

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>historial</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bodega.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bodega.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paquete.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paquete.id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
